@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #2c3e50;
}

/* nav-bar design */
.nav-colored {
  background: #ffe4b5;
}

.nav-transparent {
  background-color: transparent;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a:hover {
  background: #f08080;
  transition: 0.5s;
}


/* home page design */
.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  gap: 50px;
 
}
.home-text .home-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c3e50;
}
.home-text .home-des {
  margin-top: 10px;
  font-weight: 400;
  color: gray;
}
.home-img img {
  width: 60%;
  margin-left: 30px;
}
.scroll{
    height: 1000px;
}

/* responsive */
@media (max-width: 760px) {

  nav ul {
    width: 100%;
    background: #f5d234;
    top: 80px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  .home{
    flex-direction: column;
    gap: 30px;
    padding-top: 500px;
  }
  .home-img img{
    width: 10rem;
    margin: 0 auto;
  }
}

